flask==3.0.0
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-wtf==1.2.1
werkzeug==3.0.1
ultralytics==8.0.196
deepface==0.0.89
opencv-python-headless==4.8.1.78
numpy==1.26.2
pandas==2.1.4
openpyxl==3.1.2
pillow==10.1.0
tf-keras==2.15.0
